@model List<Entity.Category>

<ul class="nav-submenu menu-content">
    @foreach (var item in Model)
    {
        <li>
            <a href="/Product/GetByCategory/@item.CategoryId">@item.Name</a>
        </li>
    }

</ul>