
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Portfolio Grid</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Portfolio Grid</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Portfolio Section Start -->
<section id="portfolio" class="portfolio section-b-space">
    <div class="container">


        <div class="row g-3 filter-gallery mt-3 content grid ratio_asos">
            <div class="grid-item col-lg-3 col-md-4 col-sm-6 app">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/1.jpg" class="img-fluid bg-img images" alt="">
     
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 card">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/2.jpg" class="img-fluid bg-img images" alt="">

                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 web">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/3.jpg" class="img-fluid bg-img images" alt="">

                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 card">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/4.jpg" class="img-fluid bg-img images" alt="">
   
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 web">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/5.jpg" class="img-fluid bg-img images" alt="">
    
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 app">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/6.jpg" class="img-fluid bg-img images" alt="">
  
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 card">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/7.jpg" class="img-fluid bg-img images" alt="">
       
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 web">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/8.jpg" class="img-fluid bg-img images" alt="">

                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 app">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/9.jpg" class="img-fluid bg-img images" alt="">
       
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 card">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/10.jpg" class="img-fluid bg-img images" alt="">
  
                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 web">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/11.jpg" class="img-fluid bg-img images" alt="">

                </div>
            </div>

            <div class="grid-item col-lg-3 col-md-4 col-sm-6 app">
                <div class="parent-container parent-container-size">
                        <img src="~/assets/images/inner-page/product/12.jpg" class="img-fluid bg-img images" alt="">

                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Section End -->

