@model List<Entity.Category>

<div class="category-dropdown">
    <div class="close-btn d-xl-none">
        Category List
        <span class="back-category">
            <i class="fa fa-angle-left"></i>
        </span>
    </div>
    <ul>
        @foreach (var item in Model)
        {
            <li class="submenu">
                <a href="/Product/GetByCategory/@item.CategoryId">@item.Name</a>
                <ul class="category-mega-menu">
                    <li>
                        <div class="row">

                            <div class="col-xl-3">
                                <div class="category-childmenu">
                                    <div class="title-category">
                                        <h6>Ürünler</h6>
                                    </div>
                                    @await Component.InvokeAsync("CategoryProduct")
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="category-childmenu">
                                    <div class="title-category">
                                        <h6>Ürünler</h6>
                                    </div>
                                    @await Component.InvokeAsync("CategoryProduct")
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="category-childmenu">
                                    <div class="title-category">
                                        <h6>Ürünler</h6>
                                    </div>
                                    @await Component.InvokeAsync("CategoryProduct")
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="category-banner">
                                    <img src="~/urunler/12.png"
                                     class="img-fluid blur-up lazyload" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

        }
    </ul>
</div>