<div class="category-dropdown">
    <div class="close-btn d-xl-none">
        Category List
        <span class="back-category">
            <i class="fa fa-angle-left"></i>
        </span>
    </div>
    <ul>
        <li class="submenu">
            <a href="javascript:void(0)">watches</a>
            <ul class="category-mega-menu">
                <li>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="category-childmenu">
                                <div class="title-category">
                                    <h6>Watch Brands</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">Coros</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Titan</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Citizen</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Casio</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Movado</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Tissot</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="category-childmenu">
                                <div class="title-category">
                                    <h6>Watch Display</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">Analog</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Digital</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Hybrid</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Tactile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Touchscreen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="category-childmenu">
                                <div class="title-category">
                                    <h6>Watch Style</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">Casual</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Dress</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Fashion</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Luxury</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="category-banner">
                                <img src="~/assets/images/electronics/banner/4.jpg"
                                     class="img-fluid blur-up lazyload" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">footwear</a>
        </li>

        <li class="submenu">
            <a href="javascript:void(0)">clothing</a>
            <ul class="category-mega-menu">
                <li>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="category-childmenu">
                                <div class="title-category">
                                    <h6>Women's fashion</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="shop-left-sidebar.html">Dress</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">Skirts</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            Western
                                            wear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            Etahnic
                                            wear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            Sports
                                            wear
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="category-childmenu">
                                <div class="title-category">
                                    <h6>Men's fashion</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            Sports
                                            wear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            Etahnic
                                            wear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            Western
                                            wear
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="category-childmenu">
                                <div class="title-category">
                                    <h6>Accesories</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="shop-left-sidebar.html">earrings</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            fashion
                                            jewellery
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">ties</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            caps and
                                            hats
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">cufflinks</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">
                                            precious
                                            jewellery
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html">necklaces</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="category-banner">
                                <img src="~/assets/images/banner/1.jpg"
                                     class="img-fluid blur-up lazyload" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">Accessories</a>
        </li>
        <li>
            <a href="javascript:void(0)">Home & decor</a>
        </li>
        <li>
            <a href="javascript:void(0)">Bags</a>
        </li>
        <li>
            <a href="javascript:void(0)">Kitchan</a>
        </li>
    </ul>
</div>