<section class="pt-0 overflow-hidden">
    <div>
        <div class="banner-slider box-arrow">
            <!-- Slider 1 Start -->
            <div class="banner-poster">
                <div class="slider-right-detail">
                    @*                    <div class="labels">
                    <ul class="label-15">
                    <li>
                    <a href="../../index.htm">
                    <img src="~/assets/images/social-icon/1.png" class="img-fluid blur-up lazyload"
                    alt="facebook">
                    <h5 class="d-lg-block d-none">Facebook</h5>
                    </a>
                    </li>
                    <li>
                    <a href="../../index-1.htm">
                    <img src="~/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload"
                    alt="Instagram">
                    <h5 class="d-lg-block d-none">Instagram</h5>
                    </a>
                    </li>
                    <li>
                    <a href="../../index-2.htm">
                    <img src="~/assets/images/social-icon/3.png" class="img-fluid blur-up lazyload"
                    alt="Twitter">
                    <h5 class="d-lg-block d-none">Twitter</h5>
                    </a>
                    </li>
                    </ul>
                    </div>*@
                    @*                    <h4>New Festival Offer</h4>
                    <div class="offer-box">
                    <h6>65% off</h6>
                    </div>*@
                </div>

                <div class="slider-bg">
                    <div class="bg-text">
                        <span>Nike shoes</span>
                    </div>

                    <div class="bg-circle gradient-purple"></div>
                    <img src="~/assets/images/shoes/1-.png" class="shoes-1 img-fluid blur-up lazyload" alt="">
                </div>

                @*                <div class="sugestion-product d-xl-block d-none">
                <h3>Sugestion Product</h3>
                <h6>Our Collection</h6>

                <a href="product-left-sidebar.html" class="slider-shoes-image d-block">
                <div class="relative-shoes">
                <img src="~/assets/images/shoes/slider-2.png" class="img-fluid blur-up lazyload" alt="">
                <div class="shoes-price">
                <h5>$49.00</h5>
                <h6>Nike Shoes</h6>
                <ul class="rating d-flex justify-content-between">
                <li>
                <i class="fas fa-star theme-color"></i>
                </li>
                <li>
                <i class="fas fa-star theme-color"></i>
                </li>
                <li>
                <i class="fas fa-star theme-color"></i>
                </li>
                <li>
                <i class="fas fa-star"></i>
                </li>
                <li>
                <i class="fas fa-star"></i>
                </li>
                </ul>
                </div>
                </div>
                </a>
                </div>
                *@
                @*                <div class="price-number">
                <h2>$79.00 <span><del>$65.00</del></span></h2>
                <h6>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima asperiores
                possimus ad quae.
                </h6>
                </div>*@

                <div class="slider-arrow-2">
                    <div class="left-arrow d-lg-block d-none"></div>
                    <div class="right-arrow d-lg-block d-none"></div>
                </div>
            </div>
            <!-- Slider 1 End -->
            <!-- Slider 2 Start -->
            <div class="banner-poster">
                @*                <div class="slider-right-detail">
                <div class="labels">
                <ul class="label-15">
                <li>
                <a href="../../index.htm">
                <img src="~/assets/images/social-icon/1.png" class="img-fluid blur-up lazyload"
                alt="facebook">
                <h5 class="d-lg-block d-none">Facebook</h5>
                </a>
                </li>
                <li>
                <a href="../../index-1.htm">
                <img src="~/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload"
                alt="Instagram">
                <h5 class="d-lg-block d-none">Instagram</h5>
                </a>
                </li>
                <li>
                <a href="../../index-2.htm">
                <img src="~/assets/images/social-icon/3.png" class="img-fluid blur-up lazyload"
                alt="Twitter">
                <h5 class="d-lg-block d-none">Twitter</h5>
                </a>
                </li>
                </ul>
                </div>
                <h4>New Festival Offer</h4>
                <div class="offer-box">
                <h6>65% off</h6>
                </div>
                </div>
                *@
                <div class="slider-bg">
                    <div class="bg-text">
                        <span>Nike shoes</span>
                    </div>

                    <div class="bg-circle red-gradient"></div>
                    <img class="shoes-1 img-fluid blur-up lazyload" alt="" src="~/assets/images/shoes/slider-2.png">
                </div>

                <div class="sugestion-product d-xl-block d-none">
                    <h3>Sugestion Product</h3>
                    <h6>Our Collection</h6>

                    <a href="product-left-sidebar.html" class="slider-shoes-image d-block">
                        <div class="relative-shoes">
                            <img src="~/assets/images/shoes/Slider.png" class="img-fluid blur-up lazyload" alt="">
                            <div class="shoes-price">
                                <h5>$49.00</h5>
                                <h6>Nike Shoes</h6>
                                <ul class="rating d-flex justify-content-between">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                @*                <div class="price-number">
                <h2>$79.00 <span><del>$65.00</del></span></h2>
                <h6>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima asperiores
                possimus ad quae.
                </h6>
                </div>*@

                <div class="slider-arrow-2">
                    <div class="left-arrow d-lg-block d-none"></div>
                    <div class="right-arrow d-lg-block d-none"></div>
                </div>
            </div>
            <!-- Slider 2 End -->
            <!-- Slider 3 Start -->
            <div class="banner-poster">
                <div class="slider-right-detail">
                    <div class="labels">
                        <ul class="label-15">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/assets/images/social-icon/1.png" class="img-fluid blur-up lazyload"
                                         alt="facebook">
                                    <h5 class="d-lg-block d-none">Facebook</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/assets/images/social-icon/2.png" class="img-fluid blur-up lazyload"
                                         alt="Instagram">
                                    <h5 class="d-lg-block d-none">Instagram</h5>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/assets/images/social-icon/3.png" class="img-fluid blur-up lazyload"
                                         alt="Twitter">
                                    <h5 class="d-lg-block d-none">Twitter</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h4>New Festival Offer</h4>
                    <div class="offer-box">
                        <h6>65% off</h6>
                    </div>
                </div>

                <div class="slider-bg">
                    <div class="bg-text">
                        <span>Nike shoes</span>
                    </div>

                    <div class="bg-circle gradient-blue"></div>
                    <img class="shoes-1 img-fluid blur-up lazyload" alt="" src="~/assets/images/shoes/Slider.png">
                </div>

                <div class="sugestion-product d-xl-block d-none">
                    <h3>Sugestion Product</h3>
                    <h6>Our Collection</h6>

                    <a href="product-left-sidebar.html" class="slider-shoes-image d-block">
                        <div class="relative-shoes">
                            <img src="~/assets/images/shoes/1-.png" class="img-fluid blur-up lazyload" alt="">
                            <div class="shoes-price">
                                <h5>$49.00</h5>
                                <h6>Nike Shoes</h6>
                                <ul class="rating d-flex justify-content-between">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="price-number">
                    <h2>$79.00 <span><del>$65.00</del></span></h2>
                    <h6>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima asperiores
                        possimus ad quae.
                    </h6>
                </div>

                <div class="slider-arrow-2">
                    <div class="left-arrow d-lg-block d-none"></div>
                    <div class="right-arrow d-lg-block d-none"></div>
                </div>
            </div>
            <!-- Slider 3 End -->
        </div>
    </div>
</section>
