@model IEnumerable<Entity.Product>

<section class="ratio_asos">
    <div class="container-fluid p-sm-0">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <div class="title title-2 text-center">
                    <h2>Ürünlerimiz</h2>
                    <h5>Pass Ustaların Tercihi</h5>
                </div>
                <div class="product-wrapper slide-6">
                    @foreach (var item in Model)
                    {
                        <div>

                            <div class="product-box">
                                <div style="height: 430px;" class="img-wrapper">
                                    <a href="/Product/GetDetail/@item.ProductId">
                                        <img src="~/urunler/@item.ImagePath"
                                         class="bg-img img-fluid blur-up lazyload" alt="">
                                    </a>
                  
              

                                </div>
                                <div class="product-details text-center">
                                    <h3 class="theme-color">
                                    </h3>
                                    <a href="/Product/GetDetail/@item.ProductId" class="font-default">
                                        <h5>@item.ProductName</h5>
                                    </a>

                                </div>
                            </div>
                        </div>
                    }
                   

 
                </div>
            </div>
        </div>
    </div>
</section>
