<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slide-7-1 product-wrapper slick-lg-space">
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/5.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>tops</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/6.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>bottom</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/7.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>Bags</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/8.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>Denims</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/9.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>Hoddies</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/10.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>Footwear</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/11.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>Makeup</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="image-slider">
                            <div class="image-product">
                                <img src="~/assets/images/fashion/category/12.jpg" class="w-100 blur-up lazyload" alt="">
                                <div class="image-contain">
                                    <h5>Accessories</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
