<ul class="contact-lists">
    <li>
        <span>
            <b>phone:</b> <span class="font-light"> + 185659635</span>
        </span>

    </li>
    <li>
        <span>
            <b>Address:</b><span class="font-light">
                1418 Riverwood Drive, Suite 3245
                Cottonwood, CA 96052, United States
            </span>
        </span>
    </li>
    <li>
        <span>
            <b>Email:</b><span class="font-light"> Voxo123@gmail.com</span>
        </span>
    </li>
</ul>
