<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <div class="footer-links">
        <div class="footer-title">
            <h3>New Categories</h3>
        </div>
        <div class="footer-content">
            <ul>
                <li>
                    <a href="shop-left-sidebar.html" class="font-dark">Latest Shoes</a>
                </li>
                <li>
                    <a href="shop-left-sidebar.html" class="font-dark">Branded Jeans</a>
                </li>
                <li>
                    <a href="shop-left-sidebar.html" class="font-dark">New Jackets</a>
                </li>
                <li>
                    <a href="shop-left-sidebar.html" class="font-dark">Colorfull Hoodies</a>
                </li>
                <li>
                    <a href="shop-left-sidebar.html" class="font-dark">Shiner Goggles</a>
                </li>
            </ul>
        </div>
    </div>
</div>
