
.ysr {
    background: #a91c1d;
    padding: 12px 93px;
    color: #fff
}



/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .ysr {
        background: #a91c1d;
        padding: 12px 52px;
        color: #fff
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    .ysr {
        background: #a91c1d;
        padding: 12px 52px;
        color: #fff
    }
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    .ysr {
        background: #a91c1d;
        padding: 12px 52px;
        color: #fff
    }
}
