@model List<Entity.Category>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slide-7-1 product-wrapper slick-lg-space">
                    @foreach (var item in Model)
                    {
                        <div>
                            <div class="image-slider">
                                <div class="image-product">
                                    <a href="/Product/GetByCategory/@item.CategoryId">
                                    <img src="~/assets/images/fashion/category/5.jpg" class="w-100 blur-up lazyload" alt="">
                                    <div class="image-contain">
                                        <h5 style="color:black;"> @item.Name</h5>
                                    </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
