@model Entity.Product
@{
    ViewData["Title"] = "ProductEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Ürünler</h4>
						</div>

					</div>

				</div>
			</div>



			<!-- Default Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="text-blue h4">Ürün Güncelleme Sayfası</h4>
					</div>

				</div>
				<form asp-action="ProductEdit" enctype="multipart/form-data">
					<div class="form-group row">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="ProductId" />
					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Kategori Seç</label>
						<div class="col-sm-12 col-md-10">
							@Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.cv , new{@class="form-control"})
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="ProductName" class="form-control" />

						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı İngilzce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="ProductNameEng" class="form-control" />

						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="ProductNameDe" class="form-control" />

						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik1" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği İngilizce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik1Eng" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik1De" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 2</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik2" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 2 İngilzce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik2Eng" class="form-control" />

						</div>

					</div>
						<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 2 Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik2De" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 3</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik3" class="form-control" />

						</div>

					</div>




					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 3 İngilzce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik3Eng" class="form-control" />

						</div>

					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 3 Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik3De" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 4</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik4" class="form-control" />

						</div>

					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 4 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik4Eng" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 4 Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik4De" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 5</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik5" class="form-control" />

						</div>

					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 5</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik5" class="form-control" />

						</div>

					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 5 İngilzce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik5Eng" class="form-control" />

						</div>

					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özelliği 5 Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Ozellik5De" class="form-control" />

						</div>

					</div>



					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger1" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer İngilizce </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger1Eng" class="form-control" />

						</div>

					</div>

						<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger1De" class="form-control" />

						</div>

					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 2 </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger2" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 2 İngilzce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger2Eng" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 2 Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger2De" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 3</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger3" class="form-control" />

						</div>

					</div>

					
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 3 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger3Eng" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 3 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger3De" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 4  </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger4 " class="form-control" />

						</div>

					</div>

					
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 4  İngilizce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger4Eng " class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 4 Almanca </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger4De " class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 5 </label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger5" class="form-control" />

						</div>

					</div>

										<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 5 İngilizce</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger5Eng" class="form-control" />

						</div>

					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Fiyat</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="Price" class="form-control" />

						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Para Birimi</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="MonyType" class="form-control" />

						</div>

					</div>


										<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Özellik Değer 5 Almanca</label>
						<div class="col-sm-12 col-md-10">
							<input asp-for="OzellikDeger5De" class="form-control" />

						</div>

					</div>










					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ürün Resmi   </label>
						<div class="col-sm-12 col-md-10">
							@*@Html.TextBoxFor(x=>x.ImgPath,new{@class="form-control"})*@
							<input type="file" asp-for="ImagePath" class="form-control" />
						</div>
					</div>



					<button class="btn  btn-outline-primary w-100" type="submit"><i class="icon-copy fa fa-save" aria-hidden="true"></i> Kaydet</button>


				</form>


