@model List<Entity.Product>

<div class="col-lg-6">
    
        <div class="product-right">
            <h2 class="mb-2">item.ProductName</h2>
            <ul class="rating mt-1">
                <li>
                    <i class="fas fa-star theme-color"></i>
                </li>
                <li>
                    <i class="fas fa-star theme-color"></i>
                </li>
                <li>
                    <i class="fas fa-star theme-color"></i>
                </li>
                <li>
                    <i class="fas fa-star"></i>
                </li>
                <li>
                    <i class="fas fa-star"></i>
                </li>
                <li class="font-light">(In stock)</li>
            </ul>
            <div class="price mt-3">
                <h3>$20.00</h3>
            </div>
            <div class="color-types">
                <h4>colors</h4>
                <ul class="color-variant mb-0">
                    <li class="bg-half-light selected">
                    </li>
                    <li class="bg-light1"></li>
                    <li class="bg-blue1"></li>
                    <li class="bg-black1"></li>
                </ul>
            </div>
            <div class="size-detail">
                <h4>size</h4>
                <ul class="">
                    <li class="selected">S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                </ul>
            </div>
            <div class="product-details">
                <h4>product details</h4>
                <ul>
                    <li>
                        <span class="font-light">Style :</span> Boat Shoe
                    </li>
                    <li>
                        <span class="font-light">Catgory :</span> Sports Shoes
                    </li>
                    <li>
                        <span class="font-light">Tags:</span> Summer
                    </li>
                </ul>
            </div>
            <div class="product-btns">
                <a href="cart.html" class="btn btn-solid-default btn-sm">Add to cart</a>
                <a href="product-left-sidebar.html" class="btn btn-solid-default btn-sm">
                    View
                    details
                </a>
            </div>
        </div>
    
  
</div>