@model List<Entity.Contact>


<div class="footer-number">
    <div class="footer-number-image">
        <img src="~/assets/images/shoes/other/headphone.png"
             class="img-fluid blur-up lazyload" alt="">
    </div>

    <div class="footer-number-container">
        <h3>+91 98765 43210</h3>
    </div>
</div>