@model List<Entity.Category>

<ul class="nav-submenu menu-content">
    @foreach (var item in Model)
    {
        <li>
            <a href="/Product/GetByCategoryEng/@item.CategoryId">@item.NameEng</a>
        </li>
    }

</ul>