@model List<Entity.Category>

<div class="col-lg-3 col-md-4">
    <div class="category-option">
        <div class="button-close mb-3">
            <button class="btn p-0"><i data-feather="arrow-left"></i> Close</button>
        </div>
        <div class="accordion category-name" id="accordionExample">
            <div class="accordion-item category-rating">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                        Kategoriler
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body category-scroll">
                        <ul class="category-list">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <div class="form-check ps-0 custome-form-check">
                                        <a href="/Product/GetByCategory/@item.CategoryId" class="form-check-label" for="flexCheckDefault1">@item.Name</a>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
