@model List<Entity.Contact>


<div class="footer-number">
    <div class="footer-number-image">
        <img src="~/assets/images/shoes/other/headphone.png"
             class="img-fluid blur-up lazyload" alt="">
    </div>
    @foreach (var item in Model)
    {
        <div class="footer-number-container">
            <h3>@item.CompanyNumber</h3>
        </div>
    }
  
</div>