@model IEnumerable<Entity.Product>


<header id="home">
    <div class="top-header">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-auto d-sm-block d-none">
                    <p class="font-dark-30 mb-0">Contact : <span class="fw-bold">+90 212 474 33 43</span></p>
                </div>


                <div class="col-auto">
                    <ul class="border-list">
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="mailto:info@pass.com.tr" role="button"
                                   id="dropdownMenuLink" data-bs-toggle="dropdown">
                                    <span>Mail : </span> info@pass.com.tr
                                </a>

                            </div>
                        </li>


                        <li>
                            <div class="dropdown top-header-dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0)" role="button"
                                   id="dropdownMenuLink2" data-bs-toggle="dropdown">
                                    Languages<i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                    <li class="w-100">
                                        <a class="dropdown-item" href="/Home/Index">Türkçe</a>
                                    </li>

                                    <li class="w-100">
                                        <a class="dropdown-item" href="/Home/IndexDe">Deutsch</a>
                                    </li>

                                    <li class="w-100">
                                        <a class="dropdown-item" href="/Home/IndexEng">English</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header navbar-searchbar">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo">
                                <a href="/Home/IndexEng">

                                    <img class="svg-icon" src="~/assets/images/icon.svg" />

                                    <img src="~/assets/images/logo.png" class="img-fluid blur-up lazyload" alt="pass">
                                </a>
                            </div>
                            <div class="category-menu">
                                <button class="btn btn-solid-default toggle-category d-sm-block d-none">
                                    Categories
                                    <i class="fas fa-chevron-down d-xl-inline-block d-none"></i>
                                </button>
                                @await Component.InvokeAsync("EngDropDownCategory")
                            </div>
                        </div>
                        <nav>
                            <div class="main-navbar">
                                <div id="mainnav">
                                    <div class="toggle-nav me-3"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul class="nav-menu">
                                        <li class="back-btn d-xl-none">
                                            <div class="close-btn">
                                                Menu
                                                <span class="mobile-back">
                                                    <i class="fa fa-angle-left"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="mega-menu  home-menu">
                                            <a href="/Home/IndexEng" class="nav-link menu-title">Home</a>

                                        </li>
                                        <li class="dropdown">
                                            <a href="/Product/IndexEng" class="nav-link menu-title">Products</a>

                                            @await Component.InvokeAsync("EngNavbarCategoryComponent")

                                        </li>
                                        <li class="mega-menu  home-menu">
                                            <a href="/About/IndexEng" class="nav-link menu-title">About</a>
                                        </li>

                                        <li class="mega-menu  home-menu">
                                            <a href="/Contact/IndexEng" class="nav-link menu-title">Contact</a>

                                        </li>


                                        <li class="">
                                            <a href="/Gallery/IndexEng" class="nav-link menu-title">Gallery</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="menu-right">
                            <ul>
                                <li>
                                    <div class="search-box theme-bg-color">
                                        <i data-feather="search"></i>
                                    </div>
                                </li>

                                <li class="onhover-dropdown cart-dropdown">
                                    <a href="/Contact/IndexEng" class="btn btn-solid-default btn-spacing">
                                        <span>Contact</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="search-full">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i data-feather="search" class="font-light"></i>
                                </span>
                                <form asp-action="Search" asp-controller="Home" method="get">
                                    <input type="text" id="Search" name="Search" class="form-control search-type" placeholder="Search..">
                                </form>
                                <span class="input-group-text close-search">
                                    <i data-feather="x" class="font-light"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


