<link rel="manifest" href="manifest.json">
<link rel="icon" href="~/assets/images/favicon/4.png" type="image/x-icon">
<link rel="apple-touch-icon" href="~/assets/images/favicon/4.png">
<meta name="theme-color" content="#7520dd">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Pass">
<meta name="msapplication-TileImage" content="~/assets/images/favicon/4.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Voxo">
<meta name="keywords" content="Voxo">
<meta name="author" content="Voxo">
<link rel="icon" href="~/assets/images/favicon/3.png" type="image/x-icon">
<title>Pass | Tufan Boya</title>

<!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="../../css2.css?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="../../css2-1.css?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- bootstrap css -->
<link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

<!-- font-awesome css -->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

<!-- feather icon css -->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

<!-- Icon Start -->
<link rel="icon" href="~/assets/images/shoes/png/001-hotel-service.png">

<!-- animation css -->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">

<!-- slick css -->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

<!-- Theme css -->
<link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/demo3.css">