<!DOCTYPE html>
<html lang="tr">

<head>

    @await Html.PartialAsync("_HeadPartial")

</head>

<body class="theme-color3 light ltr">

    <!-- header start -->
    @await Html.PartialAsync("_NavbarPartial")
    <!-- header end -->

    <!-- mobile fix menu start -->
@*    <div class="mobile-menu d-sm-none">
        <ul>
            <li>
                <a href="/Home/Index" class="active">
                    <i data-feather="home"></i>
                    <span>Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="toggle-category">
                    <i data-feather="align-justify"></i>
                    <span>Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i data-feather="shopping-bag"></i>
                    <span>Cart</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i data-feather="fa-solid fa-phone"></i>
                    <span>İletişim</span>
                </a>
            </li>
            <li>
                <a href="user-dashboard.html">
                    <i data-feather="user"></i>
                    <span>Hakkımızda</span>
                </a>
            </li>
        </ul>
    </div>
*@    <!-- mobile fix menu end -->
    @RenderBody()
    @await Html.PartialAsync("_FooterPartial")

</body>

</html>

